/* Body */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

/* GLOBAL CSS */
.dGrid {
    display: grid;
}

.dFlex {
    display: flex;
}

.gridTemplateColumnsauto-1 {
    grid-template-columns: auto 1fr;
}


.gridTemplateColumnsauto1frauto {
    grid-template-columns: auto 1fr auto;
}

.justifycontentcenter {
    justify-content: center;
}

.alignitemscenter {
    align-items: center;
}

.justifycontentspacebetween {
    justify-content: space-between;
}

.gap2 {
    gap: 1rem;
}

.padding10px {
    padding: 10px;
}

.padding50px {
    padding: 50px;
}

.margintop30pxbottom30px {
    margin: 30px 0px;
}

.margintop20pxbottom20px {
    margin: 20px 0px;
}

.cursorPointer {
    cursor: pointer;
}


.margin50px {
    margin: 50px;
}

.bgred {
    background-color: red;
}

.bggray {
    background-color: rgb(240, 240, 243);
}

.colorgray {
    color: gray;
}

.bggreen {
    background-color: green;
}

.bgorange {
    background-color: orange;
}

.bghotpink {
    background-color: rgb(184, 52, 118);
}

.bgaqua {
    background-color: aqua;
}

.bgwhite {
    background-color: white;
}

.paddingtop40px {
    padding: 40px 0px 0px 0px;
}

.img {
    width: 25px;
}

/* ASIDE */
.bodyAside {
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: color;
    color: white;
    padding: 10px;
    background-image: url(./assets/images/sidebar-1.jpg);
}

.asideimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.asideicons:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/*  CONTAINER */
.container {
    overflow-y: scroll;
}

/* HEADER */
.headercontainer {
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.headericons {
    background-color: white;
    color: gray;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.headericons:hover {
    box-shadow: 2px -2px 30px -6px rgba(0, 0, 0, 0.75);
}


.notificationbar {
    position: relative;
}

.notificationbarbutton {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid white;
}

.notificationdropdown {
    position: absolute;
    display: none;
    top: 0;
    right: 20px;
    background-color: white;
    width: 300px;
}

.notificationbar:hover .notificationdropdown {
    display: block;
    padding: 10px;
}

.notificationdropdowntext:hover {
    background-color: red;
}

.searchbar {
    border: none;
    border-bottom: 2px solid grey;
    background-color: rgb(240, 240, 243);
    transition-timing-function: ease;
    transition-duration: 2s;
}

.searchbar:focus {
    border-bottom: 2px solid purple;
    outline: none;
}

.menuimage {
    visibility: hidden;
}

/* MAIN */
.globalicontext {
    transform: translateY(-20px);
    transform: translateX(20px);
}

.mapandcountryconatainer {
    border-radius: 20px;
    padding: 25px;
    grid-template-columns: auto 1fr;
}

.countrycontainer {
    padding: 60px 0px 0px 0px;
    grid-template-columns: auto 1fr;
}

.countryflagdiv {
    border-bottom: 1px solid black;
}

.map {
    width: 100%;
    height: 250px;
}

.cardarticle {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.squareicons {
    padding: 20px;
    width: 20px;
    transform: translateY(-25px);
}

.hotelsection {
    grid-template-columns: 1fr 1fr 1fr;
}

.hotelarticle {
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.cardphotocontainer:hover .cardphoto {
    transform: translateY(-50px);
}

.cardphotocontainer:hover .edittools {
    visibility: visible;
}

.cardphoto {
    width: 100%;
    transform: translateY(-30px);
    transition: transform .6s;
}

.edittools {
    visibility: hidden;
    transform: translateY(-55px);
}

.hoteltitle {
    transform: translateY(-25px);
}

.hoteltext {
    text-align: center
}

/* FOOTER */
.divfooter {
    justify-content: space-between;
}

/* RESPONSIVE FOR TABLET */
@media (max-width: 1200px) {
    .bodyAside {
        display: none;
    }

    .menuandiconscontainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headericonscontainer {
        display: none;
    }

    .headericons {
        display: none;
    }

    .menuimage {
        visibility: visible;
    }

    .mapandcountryconatainer {
        grid-template-columns: 1fr;
    }

    .countrycontainer {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .countryflagdiv {
        border-bottom: 1px solid black;
        justify-content: space-between;
    }

    .hotelarticle {
        margin: 40px;
    }

    .hotelsection {
        grid-template-columns: auto;
    }

}

/* RESPONSIVE FOR PHONE */
@media (max-width:1000px) {
    .cardarticle {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .divfooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}