
body {
    padding: 30px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 233, 233);
}

.form {
    width: 50%;
    height: 70%;
    border-radius: 30px;
    padding: 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

label {
    font-size: 40px;
}
input {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    padding: 5px;
}
button {
    width: 51%;
    background-color: rgb(164, 185, 255);
    height: 40px;
    font-size: 20px;
    border: none;
    font-weight: bolder;
    border-radius: 10px;
}
.info {
    height: fit-content;
}

